*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #282a36;
  color: purple;
  font-family: 'Roboto', sans-serif;
}
header div {
  text-align: center;
  padding: 30px;
}
header div a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: purple;
  padding: 30px;
}

header div a:hover{
  color: white;
  transition: 200m;
}

#corpo {
  text-align: center;
  padding: 50px;
  margin: 50px;
}
